<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            Doctor Who News Scraper
        </div>
        <div class="nav-content">
            <ul class="nav navbar-nav">
                <li><button class="btn btn-default nav-btn" id="scraper-btn">Scrape</button></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Article Section -->
<div class="container-fluid">
    <div class="article-area">
        {{#each article}}
            <div class="newsArticle">
                <img src="{{this.img}}" class="news-img">
                <p class="article-title"><a href="{{this.url}}" target="_blank">{{this.title}}</a></p>
                <p class="article-source">
                    {{this.src}}
                    <span class="comment-btn-span">
                        <button type="button" class="btn btn-default comment-btn" id="{{this.id}}" aria-label="Left Align">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        </button>
                    </span>
                </p>
            </div>
        {{/each}}
    </div>
</div>
<!-- END of Article Section -->
<!-- Comments Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalTitle">User Comments</h4>
            </div>
            <div class="modal-body">
                <!-- User Comments -->
                <div class="comment-div"></div>
                <!-- END of User Comments -->
                <hr>
                <!-- Comments Form -->
                <div class="comment-form">
                    <form id="submit-comment" method="post" action="/comments">
                        <input type="hidden" id="articleId">
                        <p><label for="body">Leave a Comment</label></p>
                        <textarea name="body" form="submit-comment"></textarea>

                        <div class="form-group">
                            <label for="user">Enter Your Name</label>
                            <input type="text" id="user" name="user">
                        </div>
                        <button type="submit" class="btn btn-default" id="submit-btn">Submit</button>
                    </form>
                </div>
                <!-- ENDf of Comments Form -->
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- END of Comments Modal -->
<!-- Scrape Success Modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="scrape-success">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Scrape Complete!</h4>
            </div>
            <div class="modal-body">
                <p class="scrape-results"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!-- END of Scrape Success Modal -->

<script type="application/javascript">
    $("#scraper-btn").on("click", function (event) {

        event.preventDefault();

        $.get("/scrape").done(function (data) {

            $(".scrape-results").text(data.articleCount);

            $("#scrape-success").modal("show");
        })
    });

    $(".comment-btn").on("click", function (event) {

        var articleId = $(this).attr('id');

        $.get("/comments/" + articleId)
                .done(function (data) {

                    var commentsData = data[0].comments;
                    var commentsDiv = $('<div>');

                    if(commentsData.length === 0){
                        commentsDiv.append('<h4>No comments found.</h4>');
                    }

                    for(var i = 0; i < commentsData.length; i++){
                        var singleComment = $('<div class="comment">');

                        singleComment.append('<p class="comment-body">' + commentsData[i].body + '</p>');
                        singleComment.append('<p class="comment-user">' + commentsData[i].user + '</p>');

                        commentsDiv.append(singleComment);
                    }

                    $('.comment-div').html(commentsDiv);
                    $('#articleId').val(articleId);

                    $('#commentModal').modal('show');
                })
    });
</script>