<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            Doctor Who News Scraper
        </div>
        <div class="nav-content">
            <ul class="nav navbar-nav">
                <li><button class="btn btn-default nav-btn" id="scraper-btn">Scrape</button></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Article Section -->
<div class="container-fluid">
    <div class="article-area">
        {{#each article}}
            <div class="newsArticle">
                <img src="{{this.img}}" class="news-img">
                <p class="article-title"><a href="{{this.url}}">{{this.title}}</a></p>
                <p class="article-source">
                    {{this.src}}
                    <span class="comment-btn-span">
                        <button type="button" class="btn btn-default comment-btn" id="{{this.id}}" aria-label="Left Align">
                            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        </button>
                    </span>
                </p>
            </div>
        {{/each}}
    </div>
</div>
<!-- END of Article Section -->
<!-- Comments Modal -->
<div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="modalTitle">User Comments</h4>
            </div>
            <div class="modal-body">
                <div class="comment-div"></div>
                <div class="comment-form">
                    <form id="submit-comment">
                        <input type="hidden" id="articleId">
                        <p><label for="comment-body">Leave a Comment</label></p>
                        <textarea name="comment-body" form="submit-comment"></textarea>

                        <div class="form-group">
                            <label for="userName">Enter Your Name</label>
                            <input type="text" id="userName" name="userName">
                        </div>
                        <button type="submit" class="btn btn-default" id="submit-btn">Submit</button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>
<!-- END of Comments Modal -->


<script type="application/javascript">
    $("#scraper-btn").on("click", function (event) {
        $.get("/scrape").done(function (data) {
            window.location.href="/";
        })
    });

    $(".comment-btn").on("click", function (event) {

        var articleId = $(this).attr('id');

        $.get("/comments/" + articleId)
                .done(function (data) {

                    var comments = $('<div>');

                    for(var i = 0; i < data.length; i++){
                        var singleComment = $('<div class="comment">');

                        singleComment.append('<p class="comment-body">' + data[i].body + '</p>');
                        singleComment.append('<p class="comment-user">' + data[i].user + '</p>');

                        comments.append(singleComment);
                    }

                    $('.comment-div').html(comments);

                    $('#commentModal').modal('show');
                })
    });
</script>